<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <!-- Used to resolve dependencies published to Exchange (connectors,
         shared libs, parent poms) if your pom references them. Not
         strictly required if firstmule has no Exchange-hosted deps. -->
    <server>
      <id>anypoint-exchange-v2</id>
      <username>~~~Client~~~</username>
      <!--<password>${env.ANYPOINT_CONNECTED_APP_ID}~sep~${env.ANYPOINT_CONNECTED_APP_SECRET}</password>-->
	  <password>4f62fd54b03f44e7918946a8bc4abdb8~sep~48A971E789a24E63BdB8A66485E374f3</password>
    </server>
  </servers>
</settings>
